{
  "presets": [
    "env",
    "react",
    "stage-0"
  ],
  "plugins": [
    "add-module-exports",
    "dynamic-import-webpack"
  ],
  "env": {
    "production": {
      "presets": ["react-optimize"],
      "plugins": ["babel-plugin-dev-expression"]
    }
  }
}
